version: '3.7'
services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.0.0
    environment:
      - discovery.type=single-node
  kibana:
    image: docker.elastic.co/kibana/kibana:8.0.0
  wazuh:
    image: wazuh/wazuh:latest
